body {
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

::placeholder {
    color: #999999;
    font-style: italic;
}

:root {
  --primary-font: Arial, sans-serif;
  --header-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --primary-color: #333333;
  --secondary-color: #666666;
  --accent-color: #007bff;
}
