body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

::placeholder {
    font-family: 'Arial', sans-serif;
    color: #999999;
    font-style: italic;
}
