h1 {
    color: #333333;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

p {
    color: #666666;
    margin-bottom: 20px;
    line-height: 1.6;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333333;
    font-weight: bold;
}
